<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Reproductor de Video</title>
  <!-- JQUery-->
  <script src="/js/jquery-1.12.3.min.js"></script>
  <!-- Bootstrap core CSS -->
  <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/featherlight.css">

  <!-- Custom styles for this template -->
  <link type="text/css" href="/css/simple-sidebar.css" rel="stylesheet">

  <!-- Auxiliar Functions-->
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="/js/featherlight.js"></script>
  
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <%- include('partials/navigation'); -%>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <div class="container-fluid " id="video_box" >
        <h1 class="mt-6">Reproductor de Video</h1>
        <!-- COMPONENTES-->
        <div class="selectionArea interactionBox1"></div>
        <div class="selectionArea interactionBox2"></div>

        <video  class="video" id="player" controls >
            <source id="source"src="assets/videos/macro.mp4" type="video/mp4">
            <source id="source" src="assets/videos/macro.mp4" type="video/ogg">
            <p>ESTE PROGRAMA NO SOPORTA LA EXTENSIÓN DE LOS FICHEROS</p>
        </video>
      </div>

      <!-- ASISTENTES DE VIDEO -->
      <div class="emergentBox paquitoEmergent ImgEmergent"  >
        <img class="img-emergent" src="/assets/images/paquitoNavarro.jpeg">
        <h4>Paquito Navarro</h4>
        <h5>Informacion Personal</h5>
        <p>Francisco Navarro Compán, más conocido como Paquito Navarro</p>
        <h5>Datos Juego</h5>
        <ul>
          <li>Ranking: 2º</li>
          <li>Posicion: Reves</li>
          <li>Pareja: Jose Lima</li>
          <li>Palmares : 13 Campeonatos Padel Worl Tour</li>
        </ul>
      </div>

      <div class="emergentBox lebronEmergent ImgEmergent"  >
        <img class="img-emergent" src="/assets/images/juanLebron.jpeg">
        <h4>Juan Lebron</h4>
        <h5>Informacion Personal</h5>
        <p>Juan Lebrón Chincoa, más conocido como Juan Lebrón</p>
        <h5>Datos Juego</h5>
        <ul>
          <li>Ranking: 1º</li>
          <li>Posicion: Drive</li>
          <li>Pareja: Ale Galan</li>
          <ul>Palmares : 11 Campeonatos Padel Worl Tour</ul>

        </ul>
      </div>
      <!-- PREGUNTAS QUIZ-->
      <div class="emergentBox  emergentQuizFutbol">
        <h4>Momentos Importantes del Partido</h4>
        <p>¿Qué momento quieres ver del partido?</p>
        
        <a href="#" class=" button longBtns golVillarreal"> Gol Villareal</a>
        <a href="#" class="button longBtns golRealSociedad"> Gol Real Sociedad</a>
        <a href="#" class=" button longBtns continuar"> Continuar </a>
        <a href="#" class=" button longBtns finalizar"> Finalizar</a>
      </div>
      <div class="emergentBox  emergentQuizNadal">
        <h4>¿Cuantos Roland Garros gano Nadal?</h4>
        
        <a href="#" class=" button longBtns TreceRG"> 13 Roland Garros</a>
        <a href="#" class="button longBtns DiezRG"> 10 Roland Garros</a>
        <a href="#" class=" button longBtns CincoRG"> 5 Roland Garros </a>
        <a href="#" class=" button longBtns NingunoRG"> Ninguno</a>
      </div>

      <!-- LISTA DE VIDEOS-->
        <div class="col-md-12 mb-8">
          <h1 class="mt-6">Videos para Reproducir</h1>
          <% videos.forEach(function(video){%>
            <div class="card h-100" id="<%=video.id%>" >
              <div  class="card-body">
                <img class="img-thumbnail" src='<%=video.poster%>' > 
                <p class="card-text"><%=video.filename%></p>
              </div>
              <div  class="card-footer" >
                <a  class="btn btn-primary btn-sm" onclick="setSrc('<%=video.filename%>')" >Play Video</a>
              </div>
          </div>
        <%})%>
        
          
        </div>
        
        </div>
        
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  
  <!-- /#wrapper -->

 

 
</body>

</html>
